@model Entity_Layer.Concrete.Category
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />

    <title>AddCategory</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-group pt-5">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 pb-3">
                    @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group ">
                @Html.LabelFor(model => model.CategoryDescription, htmlAttributes: new { @class = "control-label col-md-2 pt-3" })
                <div class="col-md-10 ">
                    @Html.EditorFor(model => model.CategoryDescription, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CategoryDescription, "", new { @class = "text-danger" })
                </div>
            </div>

        @*    <div class="form-group">
                @Html.LabelFor(model => model.CategoryStatus, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.CategoryStatus)
                        @Html.ValidationMessageFor(model => model.CategoryStatus, "", new { @class = "text-danger" })     
                    </div>
                </div>
            </div>*@
            <br />
            <div class="form-group ">
                <div class="col-md-offset-2 col-md-10 mt-5">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "GetCategoryList")
    </div>
</body>
</html>


