@using Entity_Layer.Concrete
@model List<About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h2>About Page</h2>
<br />
<table class="table table-bordered">
    <tr>
        <td>Text 1</td>
        <td>Text 2</td>
        <td>Image 1</td>
        <td>Image 2</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.AboutDetails1</th> 
            <th>@item.AboutDetails2</th> 
            <th>@item.AboutImage1 </th> 
            <th>@item.AboutImage2</th> 
        </tr>
    }
</table>
@Html.Action("AboutPartial","About")

